In [16]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [17]:
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [18]:
obj.values

array([ 3,  6,  9, 12])

In [19]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [20]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 4000000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA        4000000
dtype: int64

In [21]:
ww2_cas['China']

3000000

In [22]:
# Check which countries have cas greater than 4 mill
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [23]:
'USSR' in ww2_cas

True

In [24]:
# Convert a series to dict
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 4000000,
 'USSR': 8700000}

In [25]:
# Convert dict to series
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA        4000000
USSR       8700000
dtype: int64

In [26]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentian']
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000
Germany      4300000
Japan        2100000
USA          4000000
USSR         8700000
Argentian        NaN
dtype: float64

In [27]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentian     True
dtype: bool

In [28]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentian    False
dtype: bool

In [29]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA        4000000
USSR       8700000
dtype: int64

In [31]:
obj2

China        3000000
Germany      4300000
Japan        2100000
USA          4000000
USSR         8700000
Argentian        NaN
dtype: float64

In [32]:
ww2_series + obj2

Argentian         NaN
China         6000000
Germany       8600000
Japan         4200000
USA           8000000
USSR         17400000
dtype: float64

In [39]:
obj2.name = 'World War 2 Casualties'
obj2.index.name = 'Counties'
#obj2.values.name = 'Number'
obj2

Counties
China        3000000
Germany      4300000
Japan        2100000
USA          4000000
USSR         8700000
Argentian        NaN
Name: World War 2 Casualties, dtype: float64

In [37]:
type(obj2)

pandas.core.series.Series

In [40]:
ww2_df = pd.DataFrame({'Countries:': obj2.index, 'Number:': obj2.values})
ww2_df

  Countries:  Number:
0      China  3000000
1    Germany  4300000
2      Japan  2100000
3        USA  4000000
4       USSR  8700000
5  Argentian      NaN